.header {
    background-color: #063a72;
    height: auto;
}
.container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

li{
    display: inline-block;
    text-decoration: none;
    font-size: 1.7rem;
}
.mes-jeux {
    text-align: center;
    padding: 80px 20px;
    background-color: #0a1e3a;
    color: #000000;
}
.mes-pres {
    padding: 80px 20px;
    background-color: #0a1e3a;
    color: #000000;
}
.mes-comp {
    text-align: center;
    padding: 80px 20px;
    background-color: #0a1e3a;
    color: #000000;
}

.games-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.card {
    background: #ffffff;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    
}

.btn-blue {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
}
.btn-blueh {
    display: inline-block;
    padding: 12px 20px;
    background-color: #07b3cad3;
    color : white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
}

.btn-blue:hover {
    background-color: #0056b3;
}
h2{
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #ffc107;
}
.mes-pres h3{
    color: white;
}
body{
    background-color: #0a1e3a;
}
iframe{
    height: 600px;
    width: 60%;
}
#img-pres{
    border-radius:0%;
    float: right;
    width: 30%
}
/* @media print {
   body{
    display: none;
   } 
} */